@media screen and (max-width: 768px) {  

    /* Estilos propios del home */

    /* ¡Bienvenido a Elegance Salon & Spa, nuestro oasis de belleza y bienestar! */

    .titleContainer h1 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 150px;
    }

    /* Estilos para los parrafos */

    .titleContainer p {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        padding: 1rem;
    }

    /* imagen dentro del main */

    .imgMain_Container{
        padding: 1rem;
    }

    .imgMain {
        width: 100%;
        height: 100%;
    }

    /* NUESTRO STAF */

    h2 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }

    /* estilo del ul */

    .listaStafContainer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 1rem;
    }

    /* oficios */

    .listaStafContainer ul li h3 {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    /* nombres del staf */

    .listaStafContainer ul li p {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

}

/* DESKTOP*/

.titleContainer h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 150px;
}

/* ¡Bienvenido a Elegance Salon & Spa, nuestro oasis de belleza y bienestar! */

.titleContainer p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 1rem;
}
